<%= @game.player_1.name %> attacked <%= @game.player_2.name %>

<p><%= @game.player_2.name %>: <%= @game.player_2.hp %>HP</p>


<form action = "/switch" >
  <input type = "submit" value = "Revenge!" />
</form>


<form action = "/damage" >
  <input type = "submit" value = "Damage review" />
</form>
