<%= @player_1 %> vs. <%= @player_2 %>

<p><%= @player_1 %>: 10HP
<p><%= @player_2 %>: 10HP

<div class="button">
  <button type="submit">
    <a href ="/attack">
        Attack
    </a>
  </button>
</div>
